@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

*{
        margin: 0;
        padding: 0;
        font-family: "Montserrat", sans-serif;
        box-sizing: border-box;
}

.banner{
        width: 100%;
        height: 100%;
        background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)),url('watching_gpsr.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
}
.banner h1{
        color: #BF5700;
        font-size: 60px;
}
.navbar{
        width: 85%;
        margin: auto;
        padding: 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
}
.navbar ul li{
        list-style: none;
        margin: 0 20px;
        position: relative;
        color: black;
        overflow: auto;
}

.year_section{
        width: 100%;
        text-align: center;
        color: #000;
}
.About_blurb_para{
        width: 100%;
        grid-column: 1 / span 6;
}
.About_blurb_para p{
        text-align: center;
}
.Qual_Materials{
        width: 100%;
        grid-column: 1 / span 6;
}
.grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        background-color: transparent;
        padding: 10px;
      }
.grid-item {
        background-color: rgba(255, 255, 255, 0.2);
        border: 10px solid rgba(51, 63, 72, 0.2);
        padding: 20px;
        font-size: 20px;
        text-align: left;
        grid-column: span 2;
}
.grid-item li{
        font-size: 40px;
        text-align: center;
        list-style-type: none;
}
.grid-item li li{
        font-size: 20px;
        text-align: center;
}
.grid-item_leftcols {
        background-color: rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.0);
        padding: 20px;
        font-size: 30px;
        text-align: center;
        grid-column: 1 / span 3;
}
.grid-item_rightcols {
        background-color: rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.0);
        padding: 20px;
        font-size: 30px;
        text-align: center;
        grid-column: 4 / span 3;
}
.grid-item_allcols {
        background-color: rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.0);
        padding: 20px;
        font-size: 30px;
        text-align: center;
        grid-column: 1 / span 6;
}
.grid-item_rightcols img{
        max-width: 90%;
        text-align: center;
        align-content: center;
}
.grid-item_leftcols img{
        max-width: 90%;
        text-align: center;
        align-content: center;
}
.competition_pages{
        width: 85%;
        margin: auto;
        padding: 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
}
.vl {
        border-left: 6px solid green;
      }
.video_gallery{
        width: 80%;
        margin: 80px auto;
}

.video_gallery hl{
        padding: 60px 0;
        color: black;
        font-size: 44px;
        text-align: center;
}


li img {
        float: left;
        margin: 0 15px 0 0;
        max-width: 200px;
}

li p{
        font: 200 20px Georgia, Times New Roman, serif;
        text-align: justify;
}

li h3{
        text-align: left;
}

li {
        padding: 10px;
        overflow: auto;
}

a.button{
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;
        
        width: 10%;
        min-width: 80px;
        padding: 0 0;
        text-align: center;
        margin: 20px 5px;
        border-radius: 25px;
        font-weight: bold;
        border: 2px solid #BF5700;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        background-color: white;
}
a.button:hover{
        border: 2px solid white;
        background: #BF5700;
        color: white;
}
a.button1 {
        width: 50%;
        min-width: 150px;
        color: black;
        text-decoration-line: none;
}
a.button2 {
        min-width: 150px;
        color: black;
        text-decoration-line: none;
}

span{
        background: #BF5700;
        height: 100%;
        width: 100%;
        border-radius: 25px;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
}

li, a, button{
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-weight: 16px;
}
    
header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 10%;
}

.logo{
        cursor: pointer;
}

.nav__links{
        list-style: none;
}

.nav__links li{
        list-style: none;
        display: inline-flex;
        white-space: nowrap;
        margin: 0 40px;
        position: relative;
        align-content: center;
        color: black;
}

.nav__links li a{
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        align-content: center;
}

.nav__links ul li::after{
        content: '';
        height: 3px;
        width: 0;
        background: #BF5700;
        position: absolute;
        left: 0;
        bottom: -10px;
        transition: 0.5s;
}

.nav__links ul li:hover{
        background-color: #BF5700;
}

a.mabye:link{
        color: pink;
        text-decoration:underline;
}

a.maybe:hover{
        color: lightblue;
}

button{
        padding: 9px 25px;
        background-color: white;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
}

button:hover{
        background-color: #BF5700;
}

.image-grid{
        --gap: 16px;
        --num-cols: 4;
        --row-height:300px;
        box-sizing: border-box;
        padding: var(--gap);

        display: grid;
        grid-template-columns: repeat(var(--num-cols), 1fr);
        grid-auto-rows: var(--row-height);
        gap: var(--gap);
}

.image-grid > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
}

.image-grid-col-2{
        grid-column: span 2;
}

.image-grid-row-2{
        grid-row: span 2;
}

@media screen and (max-width: 1024px){
        .image-grid{
                --num-cols: 2;
                --row-height:200px;
        }
}